/* Utility classes (classes for styling one thing)
 Copied from Catbook React*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;
}

.u-xs {
  font-size: 4px;
}

.u-s {
  font-size: 8px;
}

.u-sm {
  font-size: 14px;
}

.u-m {
  font-size: 16px;
}

.u-m2 {
  font-size: 18px;
}

.u-l {
  font-size: 24px;
}

.u-xl {
  font-size: 30px;
}

.u-huge {
  font-size: 50px;
}

/* this sets the default font */
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}

form {
  flex-grow: 1;
}

.u-inline {
  display: inline;
}

.u-block {
  display: block;
}

.u-inline-block {
  display: inline-block;
}

/* flexbox methods */

.u-flex {
  display: flex;
}

.u-flex-col {
  display: flex;
  flex-direction: column;
}

.u-justify-center {
  justify-content: center;
}

.u-align-center {
  align-items: center;
}

.u-justify-start {
  justify-content: start;
}

.u-align-start {
  align-items: s start;
}

.u-flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.u-flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* text */
.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-text-center {
  text-align: center;
}

.u-link:hover {
  color: var(--primary--dim);
}

.twoColumn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* most flexible, since we can control positions w/ margins */
}

.twoColumn_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.twoColumn_spaced {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.twoColumn_even {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.twoColumn_right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
