/* Utility classes (classes for styling one thing)
 Copied from Catbook React*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;
}

.u-xs {
  font-size: 4px !important;
}

.u-s {
  font-size: 8px !important;
}

.u-sm {
  font-size: 14px !important;
}

.u-m {
  font-size: 16px !important;
}

.u-m2 {
  font-size: 18px !important;
}

.u-l {
  font-size: 24px !important;
}

.u-ll {
  font-size: 27px !important;
}

.u-xl {
  font-size: 30px !important;
}

.u-huge {
  font-size: 50px !important;
}

/* this sets the default font */
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}

form {
  flex-grow: 1;
}

/* utility classes; override everything else */
.u-inline {
  display: inline !important;
}

.u-block {
  display: block !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-width-fill {
  width: 100% !important;
}

.u-height-fill {
  height: 100% !important;
}

.u-width-fit {
  width: fit-content !important;
}

.u-height-fit {
  height: fit-content !important;
}

/* flexbox methods */

.u-flex {
  display: flex !important;
}

.u-flex-col {
  display: flex !important;
  flex-direction: column !important;
}

.u-justify-center {
  justify-content: center !important;
}

.u-align-center {
  align-items: center !important;
}

.u-justify-start {
  justify-content: flex-start !important;
}

.u-align-start {
  align-items: flex-start !important;
}

.u-justify-space-between {
  justify-content: space-between !important;
}

.u-align-space-between {
  align-items: space-between !important;
}

.u-flex-center-row {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

.u-flex-center-col {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

/* text */
.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-text-center {
  text-align: center;
}

.u-link:hover {
  color: var(--primary--dim);
}
